<!DOCTYPE html>
<html>
    <head>
        <title>{{ hostname }}</title>

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="shortcut icon" href="{{ url_for('plugin.mrbeam.static', filename='img/favicon.png') }}">
        <link rel="icon" sizes="192x192" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb192.png') }}">
        <link rel="icon" sizes="128x128" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb128.png') }}">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb128.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb128.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb114.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('plugin.mrbeam.static', filename='img/mrb144.png') }}">

        {% include 'error_logging_script.jinja2' %}

        {#  Dirty to have this (== body elements) in the head section.
           Chrome ends head-tag and opens body-tag which means that all following is in the page's bodey instead of the head  #}
        {% include 'loading_overlay.jinja2' %}
        <script>document.body.classList.add("loading_step1");</script>


        {% include 'stylesheets.jinja2' %}
        {% include 'styles.jinja2' %}
        {% include 'initscript.jinja2' %}
        {% include 'mrbeam_initscript.jinja2' %}
        {% include 'lasersafety_standalone.jinja2' %}
        {% include 'support_standalone.jinja2' %}
        {% include 'ready_to_laser.jinja2' %}
        {% include 'review.jinja2' %}
        {% include 'laser_job_done.jinja2' %}
        {% include 'loginscreen_viewmodel.jinja2' %}
        {% include 'software_channel_selector.jinja2' %}

    </head>
    <body style="overflow: hidden;" class="env_prod online">
		<div class="container-fluid octoprint-container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar" style="min-width:730px;">
			<div class="">
				<div class="navbar-header brand">
					<a id="mrbeam_logo_link" class="navbar-brand" href="#"><img id="logo_wide" alt="Mr Beam Logo" src="{{ url_for('plugin.mrbeam.static', filename='img/mr-typo_x120.png') }}"><img id="logo_compact" alt="{{ _('Mr Beam Logo') }}" src="{{ url_for('plugin.mrbeam.static', filename='img/mr_x120.png') }}"></a>
                    {% if beta_label %}
                        <span style="margin: 6px; vertical-align: -5px; font-size: 14px; font-weight: 400; color: #e25303; text-decoration: none;">{{ beta_label }}</span>
                    {% endif %}
				</div>
				<!-- Navbar -->
				<ul id="mrbeam-main-tabs" class="nav nav-pills pull-right">
                    {# Translatots: Name of the tab #}
					<li class="active"><a href="#workingarea" data-toggle="tab" id="wa_tab_btn">{{ _('working area') }}</a></li>
                    {# Translatots: Name of the tab #}
					<li><a href="#designlib" data-toggle="tab" id="designlib_tab_btn">{{ _('design library') }}</a></li>
                    <li><a href="#designstore" data-toggle="tab" id="designstore_tab_btn" onclick="window.mrbeam.viewModels.designStoreViewModel.goToStore()">{{ _('design store') }}</a></li>
                    {% if not enableFocus %}
					<li><a href="#focus" data-toggle="tab" id="focus_tab_btn">{{ _('focus') }}</a></li>
                    {% endif %}
                    {% if terminalEnabled %}
                    {# Translatots: Name of the tab #}
					<li><a href="#mrb_term" data-toggle="tab" id="terminal_tab_btn">{{ _('terminal') }}</a></li>
                    {% endif %}

					{% for key in templates.navbar.order %}
						{% set data = templates.navbar.entries[key] %}
						{% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
						<li id="{{ data._div }}"
							{% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
							{% if "classes" in data %}class="{{ data.classes|join(' ') }}"{% endif %}
							{% if "styles" in data %}style="{{ data.styles|join(', ') }}"{% endif %}
								>
							{% include data.template ignore missing %}
						</li>
						{% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
					{% endfor %}

                    <!-- ko allowBindings: false -->
                    {# Translators: Name of the tab #}
					<li>
						<a id="messages_nav_tab" href="#messages" data-toggle="tab" data-bind="css: { 'has-unread-messages': hasUnread }">
							<i class="icon icon-envelope icon-large"></i>
						</a>
					</li>
					<!-- /ko -->

					<li id="burger_menu" class="dropdown mrb_menu">
						<a href="#" id="burger_menu_link" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-reorder icon-large"></i>
{#							<i class="icon-cog"></i>#}
						  <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#settings" data-toggle="tab" id="settings_tab_btn"><i class="icon-wrench"></i> {{ _('Settings') }}</a></li>
							<li class="divider"></li>
                            <li><a href="#" onclick="$('#lasersafety_overlay').modal('show')" id="lasersafety_menu_item"><i class="icon-warning-sign"></i> {{ _('Laser Safety') }}</a></li>
							<li class="divider fullscreen"></li>
                            <li class="fullscreen">
                                <a href="#" id="go_fullscreen_menu_item"><i class="icon-fullscreen"></i> {{ _('Fullscreen') }}</a>
                                <a href="#" id="exit_fullscreen_menu_item"><i class="icon-fullscreen"></i> {{ _('Exit Fullscreen') }}</a>
                            </li>
							<li class="divider"></li>
                             {% if model in ["MRBEAM2", "MRBEAM2_DC_R1"] %}
                                <li><a href="/plugin/mrbeamdoc/static/docs/{{ _('QuickstartGuide_en.pdf') }}" target="_blank"><i class="icon-book"></i> {{ _('Quickstart Guide') }}</a></li>
                                <li><a href="/plugin/mrbeamdoc/static/docs/{{ _('UserManual_en.pdf') }}" target="_blank"><i class="icon-book"></i> {{ _('User Manual') }}</a></li>
                            {% else %}
                                <li><a href="/plugin/mrbeamdoc/static/docs/{{ _('QuickstartGuide_dreamcut_en.pdf') }}" target="_blank"><i class="icon-book"></i> {{ _('Quickstart Guide') }}</a></li>
                                <li><a href="/plugin/mrbeamdoc/static/docs/{{ _('UserManual_dreamcut_en.pdf') }}" target="_blank"><i class="icon-book"></i> {{ _('User Manual') }}</a></li>
                            {% endif %}
							<li class="divider"></li>
							<li><a href="#" onclick="$('#support_overlay').modal('show')" id="support_menu_item"><i class="fa fa-life-ring"></i> {{ _('Support') }}</a></li>
							<li class="divider show_only_online"></li>
							<li class="show_only_online"><a href="http://find.mr-beam.org" target="_blank"><i class="icon-chevron-right"></i> {{ _('Find my Mr Beam') }}</a></li>
                        </ul>
					</li>
				</ul>
			</div>
		</nav>

		<div class="row-fluid">
			<div class="span12 tabbable" id="mrbeam-tabs">
				<div class="tab-content">

					{% include 'tab_workingarea.jinja2' %}
					{% if terminalEnabled %}
                    {%      include 'tab_terminal.jinja2' %}
                    {% endif %}
					{% include 'tab_designlib.jinja2' %}
                    {% include 'tab_messages.jinja2' %}
                    {% include 'tab_designstore.jinja2' %}
					{% if not enableFocus %}
                    {%      include 'tab_focus.jinja2' %}
                    {% endif %}

					<div class="tab-pane" id="settings">
						<div class="container-fluid">
							<div class="row-fluid">

								<div class="settings" >
									{% include 'settings.jinja2' %}
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<footer class="footer" style="display:none">
			<ul class="pull-left muted">
				<li><small>{{ _('Version') }}: <span class="version">{{ display_version }}</span></small></li>
			</ul>
			<ul class="pull-right">
				<li><a href="http://www.mr-beam.org" target="_blank"><i class="icon-home"></i> {{ _('Homepage') }}</a></li>
				<li><a href="https://github.com/mrbeam/OctoPrint/" target="_blank"><i class="icon-download"></i> {{ _('Sourcecode') }}</a></li>
				<li><a href="https://wiki.mr-beam.org" target="_blank"><i class="icon-book"></i> {{ _('Documentation') }}</a></li>
				<li><a href="https://github.com/mrbeam/OctoPrint/issues" target="_blank"><i class="icon-flag"></i> {{ _('Bugs and Requests') }}</a></li>
			</ul>
		</footer>
	</div>



		<!-- Plugin template files -->
		{%  if templatePlugins %}
		{% for plugin_name in templatePlugins %}
		{% include plugin_name+".jinja2" ignore missing %}
		{% endfor %}
		{% endif %}
		<!-- End plugin template files -->


		<!-- Dialogs -->
        {#% include 'dialogs/settings.jinja2' %#}
        {% include 'dialogs/slicing.jinja2' %}
        {% include 'dialogs/files.jinja2' %}
        {% include 'dialogs/wizard.jinja2' %}
		{% include 'dialogs/usersettings.jinja2' %}
        {% include 'take_photo.jinja2' %}
        {% include 'quick_text.jinja2' %}
        {% include 'quick_shape.jinja2' %}
        {% include 'conversion_dialog.jinja2' %}
        <!-- End of dialogs -->

        <!-- Overlays -->
        {% include 'overlays/dragndrop.jinja2' %}
        {% include 'overlays/offline.jinja2' %}
        <!-- End of overlays -->

		 <!-- Generic plugin template files -->
		{% for key in templates.generic.order %}
			{% set data = templates.generic.entries[key] %}
			{% include data.template ignore missing %}
		{% endfor %}
		<!-- End of generic plugin template files -->


        <script>document.body.classList.add("loading_step2");</script>
        {% include 'javascripts.jinja2' %}
        <script>document.body.classList.add("loading_step3");</script>
    </body>
</html>
